<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zscat.mallplus.mbg.sys.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zscat.mallplus.mbg.sys.entity.SysUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="icon" property="icon" />
        <result column="email" property="email" />
        <result column="nick_name" property="nickName" />
        <result column="note" property="note" />
        <result column="create_time" property="createTime" />
        <result column="login_time" property="loginTime" />
        <result column="status" property="status" />
        <result column="supply_id" property="supplyId" />
        <result column="wechat_name" property="wechatName" />
        <result column="wechat_qrcode_url" property="wechatQrcodeUrl" />
        <result column="introduction" property="introduction" />
        <result column="phone" property="phone" />
        <result column="type" property="type" />
        <result column="level" property="level" />
        <result column="update_date" property="updateDate" />
        <result column="update_time" property="updateTime" />
        <result column="create_date" property="createDate" />
        <result column="name" property="name" />
    </resultMap>

    <resultMap id="sysUserVoMap" type="com.zscat.mallplus.mbg.sys.vo.SysUserVO" extends="BaseResultMap">
        <result column="MATCHER_COUNT" property="matcherCount"/>
        <result column="FAN_COUNT" property="fanCount"/>
        <result column="INVITE_NAME" property="inviteName"/>
        <result column="TOTAL_PROFIT" property="totalProfit"/>
        <result column="RELATE_UPDATE_TIME" property="relateUpdateTime"/>
        <result column="RELATE_UPDATE_DATE" property="relateUpdateDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.id, t.username, t.password, t.icon, t.email, t.nick_name, t.note, t.create_time, t.login_time, t.status, t.supply_id,t.wechat_name,t.wechat_qrcode_url,
        t.introduction,t.phone,t.type,t.level,t.name,t.update_date,t.update_time,t.create_date
    </sql>

    <select id="getRandomSysUser" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM sys_user t WHERE t.type = '1' ORDER BY RAND() LIMIT 1
    </select>

    <select id="pageMatcherUsers" parameterType="com.zscat.mallplus.mbg.sys.vo.SysUserVO" resultMap="sysUserVoMap">
        SELECT T4.MATCHER_COUNT,COUNT(1) AS FAN_COUNT,T2.`NAME` AS INVITE_NAME,<include refid="Base_Column_List"/>
        FROM SYS_USER T
        LEFT JOIN UMS_APPLY_MATCHER T1 ON T.PHONE = T1.PHONE
        LEFT JOIN SYS_USER T2 ON T2.PHONE = T1.INVITE_PHONE
        LEFT JOIN UMS_MEMBER T3 ON T3.MATCH_USER_ID = T.ID
        LEFT JOIN (SELECT COUNT(1) AS MATCHER_COUNT,INVITE_PHONE FROM UMS_APPLY_MATCHER WHERE AUDIT_STATUS = '1' GROUP BY INVITE_PHONE) T4 ON T4.INVITE_PHONE = T.PHONE
        <where>
            T.TYPE = '1'
            <if test="sysUser.startCreateDate != null">
                AND T.create_time > #{sysUser.startCreateDate}
            </if>
            <if test="sysUser.endCreateDate != null">
                AND T.create_time &lt; #{sysUser.endCreateDate}
            </if>
            <if test="sysUser.invitePhone != null">
                AND T2.PHONE LIKE CONCAT('%',#{sysUser.invitePhone},'%')
            </if>
            <if test="sysUser.inviteName != null">
                AND (T2.NAME LIKE CONCAT('%',#{sysUser.inviteName},'%') OR T2.nick_name LIKE CONCAT('%',#{sysUser.inviteName},'%'))
            </if>
            <if test="sysUser.level != null">
                AND T.level = #{sysUser.level}
            </if>
            <if test="sysUser.phone != null">
                AND T.phone LIKE CONCAT('%',#{sysUser.phone},'%')
            </if>
            <if test="sysUser.name != null">
                AND (T.NAME LIKE CONCAT('%',#{sysUser.name},'%') OR T.NICK_NAME LIKE CONCAT('%',#{sysUser.name},'%'))
            </if>
        </where>
        GROUP BY T.ID
    </select>

    <select id="pageMyInviteMatcherUsers" parameterType="com.zscat.mallplus.mbg.sys.vo.SysUserVO" resultMap="sysUserVoMap">
        SELECT
        T2.NICK_NAME,T2.`NAME`,T2.ICON,T2.PHONE,T2.INTRODUCTION,T2.`LEVEL`,T3.FAN_COUNT,T3.TOTAL_PROFIT,T1.UPDATE_TIME,T1.UPDATE_DATE,T1.RELATE_STATUS
        FROM SYS_USER T
        LEFT JOIN UMS_APPLY_MATCHER T1 ON T1.INVITE_PHONE = T.PHONE
        LEFT JOIN SYS_USER T2 ON T2.PHONE = T1.PHONE
        LEFT JOIN SYS_MATCHER_STATISTICS T3 ON T3.MATCHER_ID = T2.ID
        <where>
            T.TYPE = '1'
            <if test="sysUser.id != null">
                AND T.ID = #{sysUser.id}
            </if>
            <if test="sysUser.startCreateDate != null">
                AND T2.create_time > #{sysUser.startCreateDate}
            </if>
            <if test="sysUser.endCreateDate != null">
                AND T2.create_time &lt; #{sysUser.endCreateDate}
            </if>
            <if test="sysUser.phone != null">
                AND T2.PHONE LIKE #{sysUser.phone}
            </if>
            <if test="sysUser.name != null">
                AND (T2.NAME LIKE CONCAT('%',#{sysUser.name},'%') OR T2.nick_name LIKE CONCAT('%',#{sysUser.name},'%'))
            </if>
        </where>
    </select>

</mapper>
