<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zscat.mallplus.mbg.ums.mapper.UmsApplyMatcherMapper">
  <resultMap id="BaseResultMap" type="com.zscat.mallplus.mbg.ums.entity.UmsApplyMatcher">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="wechat_no" jdbcType="VARCHAR" property="wechatNo" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="wechat_two_code" jdbcType="VARCHAR" property="wechatTwoCode" />
    <result column="invite_phone" jdbcType="VARCHAR" property="invitePhone" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="audit_status" jdbcType="VARCHAR" property="auditStatus" />
    <result column="audit_reson" jdbcType="VARCHAR" property="auditReson" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="audit_id" jdbcType="BIGINT" property="auditId" />
    <result column="relate_status" jdbcType="VARCHAR" property="relateStatus" />
  </resultMap>

  <resultMap id="umsApplyMatcherVoMap" type="com.zscat.mallplus.mbg.ums.vo.UmsApplyMatcherVo" extends="BaseResultMap">
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="invitenickname" jdbcType="VARCHAR" property="invitenickname" />
    <result column="inviteremarkname" jdbcType="VARCHAR" property="inviteremarkname" />
  </resultMap>
  <sql id="Base_Column_List">
    T.ID, T.MEMBER_ID, T.USER_NAME, T.WECHAT_NO, T.PHONE, T.WECHAT_TWO_CODE, T.INVITE_PHONE, T.INTRODUCE, T.AUDIT_STATUS, T.AUDIT_RESON, T.CREATE_DATE, T.CREATE_TIME,T.UPDATE_DATE,T.UPDATE_TIME,T.AUDIT_ID,T.RELATE_STATUS
  </sql>

  <select id="pageMatcher" parameterType="com.zscat.mallplus.mbg.ums.vo.UmsApplyMatcherVo" resultMap="umsApplyMatcherVoMap">
    SELECT T1.NICKNAME,T2.NICKNAME AS INVITENICKNAME,T2.PERSONALIZED_SIGNATURE AS INVITEREMARKNAME,<include refid="Base_Column_List"/>
    FROM UMS_APPLY_MATCHER T
    LEFT JOIN UMS_MEMBER T1 ON T.MEMBER_ID = T1.ID
    LEFT JOIN UMS_MEMBER T2 ON T.INVITE_PHONE = T2.PHONE
    <where>
      <if test="umsApplyMatcherVo.startApplyDate != null">
        AND T.create_date > #{umsApplyMatcherVo.startApplyDate}
      </if>
      <if test="umsApplyMatcherVo.endApplyDate != null">
        AND T.create_date &lt; #{umsApplyMatcherVo.endApplyDate}
      </if>
      <if test="umsApplyMatcherVo.invitenickname != null">
        AND (T2.NICKNAME LIKE CONCAT('%',#{umsApplyMatcherVo.invitenickname},'%') OR T2.personalized_signature LIKE CONCAT('%',#{umsApplyMatcherVo.invitenickname},'%'))
      </if>
      <if test="umsApplyMatcherVo.auditStatus != null">
        AND T.audit_status = #{umsApplyMatcherVo.auditStatus}
      </if>
      <if test="umsApplyMatcherVo.phone != null">
        AND T.PHONE LIKE CONCAT('%',#{umsApplyMatcherVo.phone},'%')
      </if>
      <if test="umsApplyMatcherVo.nickname != null">
        AND (T1.NICKNAME LIKE CONCAT('%',#{umsApplyMatcherVo.nickname},'%') OR T.USER_NAME LIKE CONCAT('%',#{umsApplyMatcherVo.nickname},'%'))
      </if>
    </where>
  </select>

</mapper>