<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zscat.mallplus.mbg.ums.mapper.UmsMemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zscat.mallplus.mbg.ums.entity.UmsMember">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="member_level_id" jdbcType="BIGINT" property="memberLevelId" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="gender" jdbcType="INTEGER" property="gender" />
        <result column="birthday" jdbcType="VARCHAR" property="birthday" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="job" jdbcType="VARCHAR" property="job" />
        <result column="personalized_signature" jdbcType="VARCHAR" property="personalizedSignature" />
        <result column="source_type" jdbcType="INTEGER" property="sourceType" />
        <result column="integration" jdbcType="INTEGER" property="integration" />
        <result column="growth" jdbcType="INTEGER" property="growth" />
        <result column="luckey_count" jdbcType="INTEGER" property="luckeyCount" />
        <result column="history_integration" jdbcType="INTEGER" property="historyIntegration" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="session_key" jdbcType="VARCHAR" property="sessionKey" />
        <result column="weixin_openid" jdbcType="VARCHAR" property="weixinOpenid" />
        <result column="invitecode" jdbcType="BIGINT" property="invitecode" />
        <result column="blance" jdbcType="VARCHAR" property="blance" />
        <result column="school_id" jdbcType="BIGINT" property="schoolId" />
        <result column="weight" jdbcType="VARCHAR" property="weight" />
        <result column="height" jdbcType="VARCHAR" property="height" />
        <result column="shirt_size" jdbcType="VARCHAR" property="shirtSize" />
        <result column="pants_size" jdbcType="VARCHAR" property="pantsSize" />
        <result column="aspect" jdbcType="VARCHAR" property="aspect" />
        <result column="dress_style" jdbcType="VARCHAR" property="dressStyle" />
        <result column="dress_color" jdbcType="VARCHAR" property="dressColor" />
        <result column="never_dress_style" jdbcType="VARCHAR" property="neverDressStyle" />
        <result column="never_dress_style_descr" jdbcType="VARCHAR" property="neverDressStyleDescr" />
        <result column="never_dress_icon" jdbcType="VARCHAR" property="neverDressIcon" />
        <result column="never_dress_icon_descr" jdbcType="VARCHAR" property="neverDressIconDescr" />
        <result column="suite_lining" jdbcType="VARCHAR" property="suiteLining" />
        <result column="suite_lining_descr" jdbcType="VARCHAR" property="suiteLiningDescr" />
        <result column="enjoy_model" jdbcType="VARCHAR" property="enjoyModel" />
        <result column="industry" jdbcType="VARCHAR" property="industry" />
        <result column="item_budget" jdbcType="VARCHAR" property="itemBudget" />
        <result column="body_url" jdbcType="VARCHAR" property="bodyUrl" />
        <result column="balance_body" jdbcType="VARCHAR" property="balanceBody" />
        <result column="balance_body_descr" jdbcType="VARCHAR" property="balanceBodyDescr" />
        <result column="descr" jdbcType="VARCHAR" property="descr" />
        <result column="is_complete" jdbcType="VARCHAR" property="isComplete" />
        <result column="match_user_id" jdbcType="BIGINT" property="matchUserId" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="is_register" jdbcType="VARCHAR" property="isRegister" />
        <result column="dress_freq" jdbcType="VARCHAR" property="dressFreq" />
        <result column="match_count" jdbcType="VARCHAR" property="matchCount" />
    </resultMap>

    <resultMap id="vUmsMemberMap" type="com.zscat.mallplus.mbg.ums.entity.VUmsMember">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="match_user_id" jdbcType="BIGINT" property="matchUserId" />
        <result column="fan_name" jdbcType="VARCHAR" property="fanName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="match_user_name" jdbcType="VARCHAR" property="matchUserName" />
        <result column="invite_name" jdbcType="VARCHAR" property="inviteName" />
        <result column="tagname" jdbcType="VARCHAR" property="tagname" />
        <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
        <result column="ava_amount" jdbcType="DECIMAL" property="avaAmount" />
        <result column="dress_freq_name" jdbcType="VARCHAR" property="dressFreqName" />
        <result column="dress_freq_code" jdbcType="VARCHAR" property="dressFreqCode" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="order_count" jdbcType="DECIMAL" property="orderCount" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="recomend_time" jdbcType="BIGINT" property="recomendTime" />
        <result column="recomend_date" jdbcType="TIMESTAMP" property="recomendDate" />
    </resultMap>
    


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_level_id, username, password, nickname, phone, status, create_time, icon,
        gender, birthday, city, job, personalized_signature, source_type, integration, growth,
        luckey_count, history_integration, avatar, session_key, weixin_openid, invitecode, blance, school_id,
        weight, height, shirt_size, pants_size, aspect, dress_style, dress_color, never_dress_style,
        never_dress_style_descr, never_dress_icon, never_dress_icon_descr, suite_lining,
        suite_lining_descr, enjoy_model, industry, item_budget, body_url, balance_body, balance_body_descr,
        descr, is_complete, match_user_id, update_time,is_register,dress_freq,match_count
    </sql>

    <sql id="vums_column_list">
        id,match_user_id,fan_name,create_time,match_user_name,invite_name,tagname,ifnull(total_amount,0) as total_amount,ifnull(ava_amount,0) as ava_amount,
        dress_freq_name,dress_freq_code,phone,ifnull(order_count,0) as order_count,icon,recomend_time,recomend_date
    </sql>

    <sql id="alias_column_list">
        t.id, t.member_level_id, t.username, t.password, t.nickname, t.phone, t.status, t.create_time, t.icon,
        t.gender, t.birthday, t.city, t.job, t.personalized_signature, t.source_type, t.integration, t.growth,
        t.luckey_count, t.history_integration, t.avatar, t.session_key, t.weixin_openid, t.invitecode, t.blance, t.school_id,
        t.weight, t.height, t.shirt_size, t.pants_size, t.aspect, t.dress_style, t.dress_color, t.never_dress_style,
        t.never_dress_style_descr, t.never_dress_icon, t.never_dress_icon_descr, t.suite_lining,
        t.suite_lining_descr, t.enjoy_model, t.industry, t.item_budget, t.body_url, t.balance_body, t.balance_body_descr,
        t.descr, t.is_complete, t.match_user_id, t.update_time, t.is_register, t.dress_freq,t.match_count
    </sql>
    
    <select id="getRandomUmsMember" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM ums_member ORDER BY RAND() LIMIT 1
    </select>

    <select id="getRecommedInfos" resultMap="BaseResultMap">
        SELECT t.nickname, t.icon,t.create_time
        FROM ums_recommend_relation urr
        LEFT JOIN ums_member t on t.id = urr.recommended_id
        where urr.recommend_id = #{recommendedId} and urr.status = '1'
    </select>
    
    <!--<select id="pageUmsMembers" resultMap="">
        
    </select>-->

    <select id="listVUmsMembers" resultMap="vUmsMemberMap">
        SELECT <include refid="vums_column_list"/> FROM V_UMS_MEMBER WHERE MATCH_USER_ID = #{matchUserId}
    </select>

</mapper>
