<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zscat.mallplus.mbg.oms.mapper.OmsOrderReturnSaleMapper">
  <resultMap id="BaseResultMap" type="com.zscat.mallplus.mbg.oms.entity.OmsOrderReturnSale">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="company_address_id" jdbcType="BIGINT" property="companyAddressId" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="member_username" jdbcType="VARCHAR" property="memberUsername" />
    <result column="return_amount" jdbcType="DECIMAL" property="returnAmount" />
    <result column="real_return_amount" jdbcType="DECIMAL" property="realReturnAmount" />
    <result column="return_name" jdbcType="VARCHAR" property="returnName" />
    <result column="return_phone" jdbcType="VARCHAR" property="returnPhone" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="proof_pics" jdbcType="VARCHAR" property="proofPics" />
    <result column="handle_note" jdbcType="VARCHAR" property="handleNote" />
    <result column="handle_man" jdbcType="VARCHAR" property="handleMan" />
    <result column="receive_man" jdbcType="VARCHAR" property="receiveMan" />
    <result column="receive_note" jdbcType="VARCHAR" property="receiveNote" />
    <result column="delivery_company" jdbcType="VARCHAR" property="deliveryCompany" />
    <result column="delivery_sn" jdbcType="VARCHAR" property="deliverySn" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>

  <sql id="Base_Column_List">
    id, order_id, company_address_id, order_sn, member_id, member_username, return_amount, 
    return_name, return_phone, status, reason, description, proof_pics, handle_note, 
    handle_man, receive_man, receive_note, delivery_company, delivery_sn, update_time, 
    create_time, receive_time, type,real_return_amount
  </sql>
  <select id="listByPage" resultMap="BaseResultMap" parameterType="com.zscat.mallplus.mbg.oms.vo.OmsOrderSaleParam">
    SELECT
    os.*
    FROM
    oms_order_return_sale os
    LEFT JOIN oms_order_return_apply op ON os.id =op.sale_id
    <where>
      1=1
      <if test="queryParam.orderSn != null">
        /**订单编号**/
        AND  os.order_sn =#{queryParam.orderSn}
      </if>

      <if test="queryParam.id != null">
        /**订单编号**/
        AND  os.id =#{queryParam.id}
      </if>

      <if test="queryParam.deliverySn != null">
        /**物流单号**/
        AND os.delivery_sn = #{queryParam.deliverySn}
      </if>

      <if test="queryParam.status != null">
        /**待付款/已完成/已发货/待发货/已关闭**/
        and os.`status`=#{queryParam.status}
      </if>

      <if test="queryParam.type != null">
        /**订单类型**/
        and os.type=#{queryParam.type}
      </if>

      <if test="queryParam.productName != null">
        and op.product_name like "%"#{queryParam.productName}"%"
      </if>

      <if test="queryParam.startDate != null">
        AND os.create_time <![CDATA[>=]]> #{queryParam.startDate}
      </if>

      <if test="queryParam.endDate != null">
        AND os.create_time <![CDATA[<=]]>#{queryParam.endDate}
      </if>
    </where>
    order  by os.update_time desc, os.create_time desc
  </select>
</mapper>