<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zscat.mallplus.mbg.pms.mapper.PmsProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zscat.mallplus.mbg.pms.entity.PmsProduct">
        <id column="id" property="id" />
        <result column="brand_id" property="brandId" />
        <result column="product_category_id" property="productCategoryId" />
        <result column="feight_template_id" property="feightTemplateId" />
        <result column="product_attribute_category_id" property="productAttributeCategoryId" />
        <result column="name" property="name" />
        <result column="pic" property="pic" />
        <result column="product_sn" property="productSn" />
        <result column="delete_status" property="deleteStatus" />
        <result column="publish_status" property="publishStatus" />
        <result column="new_status" property="newStatus" />
        <result column="recommand_status" property="recommandStatus" />
        <result column="verify_status" property="verifyStatus" />
        <result column="sort" property="sort" />
        <result column="sale" property="sale" />
        <result column="price" property="price" />
        <result column="market_price" property="marketPrice" />
        <result column="gift_growth" property="giftGrowth" />
        <result column="gift_point" property="giftPoint" />
        <result column="use_point_limit" property="usePointLimit" />
        <result column="sub_title" property="subTitle" />
        <result column="description" property="description" />
        <result column="commodity_price" property="commodityPrice" />
        <result column="stock" property="stock" />
        <result column="low_stock" property="lowStock" />
        <result column="unit" property="unit" />
        <result column="weight" property="weight" />
        <result column="preview_status" property="previewStatus" />
        <result column="service_ids" property="serviceIds" />
        <result column="keywords" property="keywords" />
        <result column="note" property="note" />
        <result column="album_pics" property="albumPics" />
        <result column="detail_title" property="detailTitle" />
        <result column="detail_desc" property="detailDesc" />
        <result column="detail_html" property="detailHtml" />
        <result column="detail_mobile_html" property="detailMobileHtml" />
        <result column="promotion_start_time" property="promotionStartTime" />
        <result column="promotion_end_time" property="promotionEndTime" />
        <result column="promotion_per_limit" property="promotionPerLimit" />
        <result column="promotion_type" property="promotionType" />
        <result column="brand_name" property="brandName" />
        <result column="product_category_name" property="productCategoryName" />
        <result column="supply_id" property="supplyId" />
        <result column="create_time" property="createTime" />
        <result column="school_id" property="schoolId" />
        <result column="delivery_price" property="deliveryPrice" />
        <result column="type" property="type" />
        <result column="product_id_ext" property="productIdExt" />
        <result column="url" property="url" />
    </resultMap>

    <resultMap id="cartProductMap" type="com.zscat.mallplus.mbg.oms.vo.CartProduct" autoMapping="true">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <collection property="productAttributeList" columnPrefix="attr_"
                    resultMap="com.zscat.mallplus.mbg.pms.mapper.PmsProductAttributeMapper.BaseResultMap">
        </collection>
        <collection property="skuStockList" columnPrefix="sku_"
                    resultMap="com.zscat.mallplus.mbg.pms.mapper.PmsSkuStockMapper.BaseResultMap">
        </collection>
    </resultMap>
    <resultMap id="promotionProductMap" type="com.zscat.mallplus.mbg.pms.vo.PromotionProduct"
               extends="BaseResultMap">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <collection property="skuStockList" columnPrefix="sku_"
                    resultMap="com.zscat.mallplus.mbg.pms.mapper.PmsSkuStockMapper.BaseResultMap">
        </collection>
        <collection property="productLadderList" columnPrefix="ladder_"
                    resultMap="com.zscat.mallplus.mbg.pms.mapper.PmsProductLadderMapper.BaseResultMap">
        </collection>
        <collection property="productFullReductionList" columnPrefix="full_"
                    resultMap="com.zscat.mallplus.mbg.pms.mapper.PmsProductFullReductionMapper.BaseResultMap">
        </collection>
    </resultMap>

    <resultMap id="updateInfoMap" type="com.zscat.mallplus.mbg.pms.vo.PmsProductResult"
               extends="BaseResultMap">
        <result column="cateParentId" jdbcType="BIGINT" property="cateParentId"/>
        <result column="favor_type" jdbcType="VARCHAR" property="favoriteType"/>
        <collection property="productLadderList" columnPrefix="ladder_"
                    resultMap="com.zscat.mallplus.mbg.pms.mapper.PmsProductLadderMapper.BaseResultMap">
        </collection>
        <collection property="productFullReductionList" columnPrefix="full_"
                    resultMap="com.zscat.mallplus.mbg.pms.mapper.PmsProductFullReductionMapper.BaseResultMap">
        </collection>
        <collection property="memberPriceList" columnPrefix="member_"
                    resultMap="com.zscat.mallplus.mbg.pms.mapper.PmsMemberPriceMapper.BaseResultMap">
        </collection>
        <collection property="skuStockList" columnPrefix="sku_"
                    resultMap="com.zscat.mallplus.mbg.pms.mapper.PmsSkuStockMapper.BaseResultMap">
        </collection>
        <collection property="productAttributeValueList" columnPrefix="attribute_"
                    resultMap="com.zscat.mallplus.mbg.pms.mapper.PmsProductAttributeValueMapper.BaseResultMap">
        </collection>

        <collection property="productAttributeList" columnPrefix="att_"
          resultMap="com.zscat.mallplus.mbg.pms.mapper.PmsProductAttributeMapper.BaseResultMap">
        </collection>
        <collection property="subjectProductRelationList" column="{productId=id}"
                    select="selectSubjectProductRelationByProductId"/>
        <collection property="prefrenceAreaProductRelationList" column="{productId=id}"
                    select="selectPrefrenceAreaProductRelationByProductId"/>



    </resultMap>


    <resultMap id="updateInfoMap1" type="com.zscat.mallplus.mbg.pms.vo.PmsProductResult"
      extends="BaseResultMap">
        <result column="cateParentId" jdbcType="BIGINT" property="cateParentId"/>
        <result column="favor_type" jdbcType="VARCHAR" property="favoriteType"/>
        <collection property="skuStockList" columnPrefix="sku_"
          resultMap="com.zscat.mallplus.mbg.pms.mapper.PmsSkuStockMapper.BaseResultMap">
        </collection>
        <collection property="pmsProductCommissions" columnPrefix="comm_"
          resultMap="com.zscat.mallplus.mbg.pms.mapper.PmsProductCommissionMapper.BaseResultMap">
        </collection>


    </resultMap>

    <resultMap id="pmsProductVoMap" type="com.zscat.mallplus.mbg.pms.vo.PmsProductVo" extends="BaseResultMap">
    </resultMap>

    <select id="getUpdateInfo" resultMap="updateInfoMap">
        SELECT p.*,c.favor_type,
        pc.parent_id cateParentId,
        l.id ladder_id,l.product_id ladder_product_id,l.discount ladder_discount,l.count ladder_count,l.price
        ladder_price,
        pf.id full_id,pf.product_id full_product_id,pf.full_price full_full_price,pf.reduce_price full_reduce_price,
        m.id member_id,m.product_id member_product_id,m.member_level_id member_member_level_id,m.member_price
        member_member_price,m.member_level_name member_member_level_name,
        s.id sku_id,s.product_id sku_product_id,s.price sku_price,s.low_stock sku_low_stock,s.pic sku_pic,s.sale
        sku_sale,s.sku_code sku_sku_code,s.sp1 sku_sp1,s.sp2 sku_sp2,s.sp3 sku_sp3,s.stock sku_stock,s.lock_stock sku_lock_stock,
               s.promotion_price sku_promotion_price,
        a.id attribute_id,a.product_id attribute_product_id,a.product_attribute_id
        attribute_product_attribute_id,a.value attribute_value,
        at.id att_id, at.product_attribute_category_id att_product_attribute_category_id,  at.name att_name

        FROM pms_product p
        LEFT JOIN pms_product_category pc on pc.id = p.product_category_id
        LEFT JOIN pms_product_ladder l ON p.id = l.product_id
        LEFT JOIN pms_product_full_reduction pf ON pf.product_id=p.id
        LEFT JOIN pms_member_price m ON m.product_id = p.id
        LEFT JOIN pms_sku_stock s ON s.product_id = p.id
        LEFT JOIN ums_collect c ON c.assembly_id=s.id
        LEFT JOIN pms_product_attribute_value a ON a.product_id=p.id
        left join  pms_product_attribute  at on  at.id=a.product_attribute_id
        WHERE p.id=#{id}
    </select>


    <select id="getProductResults" resultMap="updateInfoMap1">
        SELECT p.*,c.favor_type,
               pc.parent_id cateParentId,
               s.id sku_id,s.product_id sku_product_id,s.price sku_price,s.low_stock sku_low_stock,s.pic sku_pic,s.sale
                            sku_sale,s.sku_code sku_sku_code,s.sp1 sku_sp1,s.sp2 sku_sp2,s.sp3 sku_sp3,s.stock sku_stock,s.lock_stock sku_lock_stock,
        comm.id as comm_id, comm.product_id as comm_product_id, comm.promote_type as comm_promote_type, comm.commission_type as comm_commission_type, comm.commission_proportion as comm_commission_proportion, comm.invite_proportion as comm_invite_proportion,
        comm.update_date as comm_update_date, comm.update_time as comm_update_time, comm.create_date as comm_create_date,  comm.create_time as comm_create_time,comm.matcher_level as comm_matcher_level
        FROM pms_product p
                 LEFT JOIN pms_product_category pc on pc.id = p.product_category_id
                 LEFT JOIN pms_sku_stock s ON s.product_id = p.id
                 LEFT JOIN ums_collect c ON c.assembly_id=s.id
                 LEFT JOIN pms_product_commission comm  ON comm.product_id=p.id
        WHERE p.id IN
        <foreach collection="ids" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="selectSubjectProductRelationByProductId"
            resultMap="com.zscat.mallplus.mbg.pms.mapper.CmsSubjectProductRelationMapper.BaseResultMap">
        select * from cms_subject_product_relation where product_id=#{productId}
    </select>
    <select id="selectPrefrenceAreaProductRelationByProductId"
            resultMap="com.zscat.mallplus.mbg.pms.mapper.CmsPrefrenceAreaProductRelationMapper.BaseResultMap">
        select * from cms_prefrence_area_product_relation where product_id=#{productId}
    </select>
    <select id="getCartProduct" resultMap="cartProductMap">
        SELECT
        p.id id,
        p.`name` name,
        p.sub_title subTitle,
        p.price price,
        p.pic pic,
        p.product_attribute_category_id productAttributeCategoryId,
        p.stock stock,
        p.product_sn,
        pa.id attr_id,
        pa.`name` attr_name,
        ps.id sku_id,
        ps.sku_code sku_code,
        ps.price sku_price,
        ps.sp1 sku_sp1,
        ps.sp2 sku_sp2,
        ps.sp3 sku_sp3,
        ps.stock sku_stock,
        ps.pic sku_pic
        FROM
        pms_product p
        LEFT JOIN pms_product_attribute pa ON p.product_attribute_category_id = pa.product_attribute_category_id
        LEFT JOIN pms_sku_stock ps ON p.id=ps.product_id
        WHERE
        p.id = #{id}
        AND pa.type = 0
        ORDER BY pa.sort desc
    </select>
    <select id="getPromotionProductList" resultMap="promotionProductMap">
        SELECT
        p.id,
        p.`name`,
        p.promotion_type,
        p.gift_growth,
        p.gift_point,
        p.product_sn,
        sku.id sku_id,
        sku.price sku_price,
        sku.sku_code sku_sku_code,
        sku.promotion_price sku_promotion_price,
        sku.stock sku_stock,
        sku.lock_stock sku_lock_stock,
        ladder.id ladder_id,
        ladder.count ladder_count,
        ladder.discount ladder_discount,
        full_re.id full_id,
        full_re.full_price full_full_price,
        full_re.reduce_price full_reduce_price
        FROM
        pms_product p
        LEFT JOIN pms_sku_stock sku ON p.id = sku.product_id
        LEFT JOIN pms_product_ladder ladder ON p.id = ladder.product_id
        LEFT JOIN pms_product_full_reduction full_re ON p.id = full_re.product_id
        WHERE
        p.id IN
        <foreach collection="ids" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </select>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        P.id, P.brand_id, P.product_category_id, P.feight_template_id, P.product_attribute_category_id, P.name, P.pic, P.product_sn, P.delete_status,
        P.publish_status, P.new_status, P.recommand_status, P.verify_status, P.sort, P.sale, P.price, P.market_price, P.gift_growth, P.gift_point, P.use_point_limit,
        P.sub_title, P.description, P.commodity_price, P.stock, P.low_stock, P.unit, P.weight, P.preview_status, P.service_ids, P.keywords, P.note, P.album_pics, P.detail_title,
        P.detail_desc, P.detail_html, P.detail_mobile_html, P.promotion_start_time, P.promotion_end_time, P.promotion_per_limit, P.promotion_type, P.brand_name,
        P.product_category_name, P.supply_id, P.create_time, P.school_id,P.delivery_price,P.product_id_ext,P.type,P.url
    </sql>

    <sql id="commissionColumnList">
        ppc.id as ppc_id,ppc.product_id as ppc_product_id,ppc.promote_type as ppc_promote_type,ppc.commission_type as ppc_commission_type,
        ppc.commission_proportion as ppc_commission_proportion,ppc.invite_proportion as ppc_invite_proportion,ppc.update_time as ppc_update_time
    </sql>

    <select id="listPmsProductByPage" parameterType="com.zscat.mallplus.mbg.pms.vo.PmsProductQueryParam" resultMap="pmsProductVoMap">
        SELECT <include refid="Base_Column_List"/>
        FROM PMS_PRODUCT P
        <where>

            <if test="queryParam.deleteStatus != null">
                AND P.delete_status = #{queryParam.deleteStatus}
            </if>

            <if test="queryParam.brandId != null">
                AND P.brand_id = #{queryParam.brandId}
            </if>

            <if test="queryParam.keyword != null">
                AND P.name LIKE CONCAT('%',#{queryParam.keyword},'%')
            </if>

            <if test="queryParam.deleteStatus != null">
                AND P.delete_status =#{queryParam.deleteStatus}
            </if>

            <if test="queryParam.startPrice != null">
                AND P.price &gt;=#{queryParam.startPrice}
            </if>

            <if test="queryParam.endPrice != null">
                AND P.price &lt;=#{queryParam.endPrice}
            </if>

            <if test="queryParam.startSale != null">
                AND P.sale &gt;=#{queryParam.startSale}
            </if>

            <if test="queryParam.endSale  != null">
                AND P.sale &lt;=#{queryParam.endSale}
            </if>

            <if test="queryParam.productSn != null">
                AND P.product_sn= #{queryParam.productSn}
            </if>

            <if test="queryParam.productCategoryId != null">
                AND P.product_category_id = #{queryParam.productCategoryId}
            </if>

            <if test="queryParam.publishStatus != null">
                AND P.publish_status = #{queryParam.publishStatus}
            </if>
            <if test="queryParam.productAttributeCategoryId != null">
                AND P.product_attribute_category_id = #{queryParam.productAttributeCategoryId}
            </if>

        </where>
        <if test="queryParam.sort != null and queryParam.sort==0">
            order by P.price desc
        </if>
        <if test="queryParam.sort != null and queryParam.sort==1">
            order by P.price asc
        </if>

    </select>

    <select id="listPmsProductCollectByPage" parameterType="com.zscat.mallplus.mbg.pms.vo.PmsProductQueryParam" resultMap="pmsProductVoMap">
        SELECT <include refid="Base_Column_List"/>
        FROM pms_product_user_collect pc left join PMS_PRODUCT P on pc.product_id=P.id
        <where>
            <if test="queryParam.brandId != null">
                AND P.brand_id = #{queryParam.brandId}
            </if>
            <if test="queryParam.keyword != null">
                AND P.name LIKE CONCAT('%',#{queryParam.keyword},'%')
            </if>
            <if test="queryParam.deleteStatus != null">
                AND P.delete_status =#{queryParam.deleteStatus}
            </if>
            <if test="queryParam.startPrice != null">
                AND P.price &gt;=#{queryParam.startPrice}
            </if>
            <if test="queryParam.endPrice != null">
                AND P.price &lt;=#{queryParam.endPrice}
            </if>
            <if test="queryParam.productCategoryId != null">
                AND P.product_category_id = #{queryParam.productCategoryId}
            </if>
            <if test="queryParam.productAttributeCategoryId != null">
                AND P.product_attribute_category_id = #{queryParam.productAttributeCategoryId}
            </if>


        </where>
    </select>
</mapper>
