<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zscat.mallplus.mbg.pms.mapper.PmsSkuStockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zscat.mallplus.mbg.pms.vo.PmsSkuStockVo">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="sku_code" property="skuCode" />
        <result column="price" property="price" />
        <result column="stock" property="stock" />
        <result column="low_stock" property="lowStock" />
        <result column="sp1" property="sp1" />
        <result column="sp2" property="sp2" />
        <result column="sp3" property="sp3" />
        <result column="pic" property="pic" />
        <result column="sale" property="sale" />
        <result column="promotion_price" property="promotionPrice" />
        <result column="lock_stock" property="lockStock" />
        <result column="cateParentId" property="cateParentId"/>
        <association  property="pmsProductResult" javaType="com.zscat.mallplus.mbg.pms.vo.PmsProductResult">
            <result column="brand_id" property="brandId" />
            <result column="product_category_id" property="productCategoryId" />
            <result column="feight_template_id" property="feightTemplateId" />
            <result column="product_attribute_category_id" property="productAttributeCategoryId" />
            <result column="name" property="name" />
            <result column="pms_pic" property="pic" />
            <result column="product_sn" property="productSn" />
            <result column="delete_status" property="deleteStatus" />
            <result column="publish_status" property="publishStatus" />
            <result column="new_status" property="newStatus" />
            <result column="recommand_status" property="recommandStatus" />
            <result column="verify_status" property="verifyStatus" />
            <result column="sort" property="sort" />
            <result column="pms_sale" property="sale" />
            <result column="pms_price" property="price" />
            <result column="pms_promotion_price" property="promotionPrice" />
            <result column="gift_growth" property="giftGrowth" />
            <result column="gift_point" property="giftPoint" />
            <result column="use_point_limit" property="usePointLimit" />
            <result column="sub_title" property="subTitle" />
            <result column="description" property="description" />
            <result column="original_price" property="originalPrice" />
            <result column="pms_stock" property="stock" />
            <result column="pms_low_stock" property="lowStock" />
            <result column="unit" property="unit" />
            <result column="weight" property="weight" />
            <result column="preview_status" property="previewStatus" />
            <result column="service_ids" property="serviceIds" />
            <result column="keywords" property="keywords" />
            <result column="note" property="note" />
            <result column="album_pics" property="albumPics" />
            <result column="detail_title" property="detailTitle" />
            <result column="detail_desc" property="detailDesc" />
            <result column="detail_html" property="detailHtml" />
            <result column="detail_mobile_html" property="detailMobileHtml" />
            <result column="promotion_start_time" property="promotionStartTime" />
            <result column="promotion_end_time" property="promotionEndTime" />
            <result column="promotion_per_limit" property="promotionPerLimit" />
            <result column="promotion_type" property="promotionType" />
            <result column="brand_name" property="brandName" />
            <result column="product_category_name" property="productCategoryName" />
            <result column="favor_type" property="favoriteType"/>
        </association >
    </resultMap>


    <sql id="sku_stock_column_list">
        s.id,s.product_id,s.sku_code,s.price,s.stock,s.low_stock,s.sp1,s.sp2,s.sp3,s.pic,s.sale,s.promotion_price,s.lock_stock,
        pp.brand_id,pp.product_category_id,pp.feight_template_id,pp.product_attribute_category_id,pp.name,pp.pic as pms_pic,pp.product_sn,pp.delete_status,
        pp.publish_status,pp.new_status,pp.recommand_status,pp.verify_status,pp.sort,pp.sale as pms_sale,pp.price as pms_price,pp.promotion_price as pms_promotion_price,pp.gift_growth,
        pp.gift_point,pp.use_point_limit,pp.sub_title,pp.description,pp.original_price,pp.stock as pms_stock,pp.low_stock as pms_low_stock,pp.unit,pp.weight,pp.preview_status,
        pp.service_ids,pp.keywords,pp.note,pp.album_pics,pp.detail_title,pp.detail_desc,pp.detail_html,pp.detail_mobile_html,pp.promotion_start_time,pp.promotion_end_time,
        pp.promotion_per_limit,pp.promotion_type,pp.brand_name,pp.product_category_name,
        c.favor_type
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id, sku_code, price, stock, low_stock, sp1, sp2, sp3, pic, sale, promotion_price, lock_stock
    </sql>

    <insert id="replaceList">
        REPLACE INTO pms_sku_stock (id,product_id, sku_code, price, stock, low_stock, sp1, sp2, sp3, pic, sale) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=BIGINT},
            #{item.productId,jdbcType=BIGINT},
            #{item.skuCode,jdbcType=VARCHAR},
            #{item.price,jdbcType=DECIMAL},
            #{item.stock,jdbcType=INTEGER},
            #{item.lowStock,jdbcType=INTEGER},
            #{item.sp1,jdbcType=VARCHAR},
            #{item.sp2,jdbcType=VARCHAR},
            #{item.sp3,jdbcType=VARCHAR},
            #{item.pic,jdbcType=VARCHAR},
            #{item.sale,jdbcType=INTEGER})
        </foreach>
    </insert>

    <select id="querySkuStockVos" resultMap="BaseResultMap">
        SELECT <include refid="sku_stock_column_list" />
        FROM pms_sku_stock s
        LEFT JOIN pms_product pp on s.product_id = pp.id
        LEFT JOIN ums_collect c ON c.assembly_id=s.id AND c.member_id = #{userId}
        WHERE s.id in
        <foreach collection="skuIds" item="skuId" open="(" close=")" separator=",">
            #{skuId}
        </foreach>
    </select>
</mapper>
